.wrapper {
    padding: 20px;
    width: 100%;

    .products {
        background:teal;
        width: 100%;
        height:100%;
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 20px;

        &_item {
            background:yellow;
            display:grid;
            grid-template-columns: 1fr;
            grid-template-rows: 3fr 2fr 1fr;
            gap: 20px;
            padding: 5%;

            &_section  {
                background:gray;
            }
        }
    }

}