@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-up {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.35s ease-in-out;
}


::-webkit-scrollbar-track {
  @apply rounded-[10px] bg-gray-300;
}

::-webkit-scrollbar {
/* скрол полоска */
  @apply w-[6px];
}

/* скрол бар */
::-webkit-scrollbar-thumb {
  @apply w-[6px] rounded-[10px] bg-[#FF5824];
}
